@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Futura;
    font-weight: 400;
    src: url(/fonts/FuturaStd-Book.otf) format('woff');
  }
  @font-face {
    font-family: Futura;
    font-weight: 500;
    src: url(/fonts/FuturaStd-Medium.otf) format('woff');
  }
  @font-face {
    font-family: Futura;
    font-weight: 700;
    src: url(/fonts/FuturaStd-Bold.otf) format('woff');
  }
  @font-face {
    font-family: Futura;
    font-weight: 800;
    src: url(/fonts/FuturaStd-ExtraBold.otf) format('woff');
  }
}
